@mixin transition__all() {
  transition: all 0.2s ease-in-out;
}

@mixin transition__opacity() {
  transition: opacity 0.2s ease-in-out;
}

@mixin transition__background() {
  transition: background 0.2s ease-in-out;
}